body
{
    background: url('bk.png')no-repeat bottom / cover;
}
.GALLERY
{
    display:flex;
    justify-content: center;
    align-items: center;    
    background-color: rgb(40, 192, 53);
    width: fit-content;
    padding:20px;
    margin: 70px auto; 
    flex-direction: column;
    border-radius: 10px;
    border-right:rgb(140, 233, 111);
    border-bottom:rgb(131, 216, 98);
}

.topic {
    font-size: 20px;
}

.imgbox, img
{
    width:450px;
    height:330px;
    object-fit: cover;
    border-radius: 10px;
    border: outset rgb(69, 187, 15) 5px;
}
.about
{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(24, 22, 24) 5px;
    
}
.buttons
{
    display: flex;
    gap: 10px;             
    margin-top: 35px;
    background-color: rgb(21, 150, 4); 
    padding: 8px;
    border-radius: 60px;
   
}
button
{
    width: 120px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(45, 207, 59);
    color: rgb(18, 15, 15);
    border: none;
    border-radius: 20px 0px 20px 0px;
    cursor: pointer;
    border: outset rgb(167, 230, 65) 5px;
}

.footer p
{
    position:fixed;
    background-color: lightgreen;
    left:0;
    bottom:0;
    width:100%;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 3px;
    margin-bottom: 0px;
}
